 <!-- This is the navbar section -->
 <nav>
  <ul class='nav navbar-nav navbar-right'>
    <li><%= link_to 'Help', static_pages_help_path %></li>
    <li><%= link_to 'About', static_pages_about_path %></li>
    <li><%= link_to 'Log in', '#' %></li>
  </ul>
</nav>